<ion-view>
	<ion-content>
		<div class="row alto espacio">
			<div class="col alto">
				<div class="login alto">
					<ul class="Lista centro">
						<li>
							<img src="https://www.cdss.org/images/store/cdss-store-login-icon.png">
						</li>
						<li>
							<input type="text" placeholder="Username" ng-model="usuario.nombre"  class="linea1">
						</li>
						<li>
							<input type="password" placeholder="Password" ng-model="usuario.contra"  class="linea1">
						</li>	
						<li>
							<button class="boton1">Resgistrate!</button  ng-clic="inicio(usuario)">
						</li>
					</ul>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view> 